<h2>Comments</h2>
<div id="comments">
  <!-- renders comments/_comment.html.erb -->
  <!-- expands to render partial: "comments/comment", collection: post.comments -->
  <%= render post.comments %>
</div>

<%= render "comments/new", post: post %>
